@charset "UTF-8";
* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  font: 17px / 27px 'Courier New';
  background-attachment: fixed;
  backface-visibility: hidden; }
  body.white {
    background-color: #F5F6F7; }

.dark-text {
  color: rgba(255, 255, 255, 0.7); }
  .dark-text p:before {
    color: rgba(255, 255, 255, 0.3); }

.light-text, body.white {
  color: #2B2B2B; }
  .light-text p:before, body.white p:before {
    color: rgba(10, 10, 20, 0.3); }

.italic {
  font-style: italic;
  color: rgba(255, 255, 255, 0.5); }

.bold {
  font-weight: bold; }

ul,
dl {
  padding: 0;
  list-style: none; }

ul {
  margin-top: 1em; }

dl {
  margin-top: 0; }

a {
  display: block;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  animation: load-in 0.25s ease; }
  a:hover {
    font-weight: bold; }

h1 {
  font-size: 3.33em;
  font-weight: normal;
  line-height: 1.2em; }

h2 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 50px; }

p {
  position: relative;
  animation: load-in 0.25s ease; }
  p:before {
    position: absolute;
    margin-left: -20px;
    content: "⚬";
    color: #ccc; }

label {
  display: block;
  font-size: 0.7em;
  opacity: 0.5;
  text-transform: uppercase; }

.clearfix:after, dl:after {
  content: "";
  display: table;
  clear: both; }

.container {
  float: left;
  height: inherit;
  padding: 4em;
  overflow: scroll; }

.narrative-container {
  width: calc(75% / 2); }
  .narrative-container p {
    margin-top: 2em; }
  .narrative-container p:first-child {
    margin-top: 0; }

.inventory-container {
  width: 25%;
  background-color: #f1f1f1; }
  .inventory-container dl {
    width: 100%;
    line-height: 2em; }
    .inventory-container dl dt {
      float: left; }

.inventory-list li {
  padding-bottom: 1em;
  line-height: 1em;
  cursor: pointer;
  animation: load-in 0.25s ease; }
  .inventory-list li:hover {
    font-weight: bold; }
  .inventory-list li.equipped-wep::before {
    position: absolute;
    content: "⚔ ";
    margin-left: -20px;
    font-size: 1em;
    color: black; }
  .inventory-list li.equipped-armor::before {
    position: absolute;
    content: "⚱ ";
    margin-left: -20px;
    font-size: 1em;
    color: black; }
  .inventory-list li.none {
    color: #fff; }
  .inventory-list li.rare {
    color: #009bff; }

.combat-log-container {
  width: calc(75% / 2);
  background-color: #2B2B2B; }
  .combat-log-container p {
    font-size: 1em; }
    .combat-log-container p + p {
      margin-top: 1.5em; }
  .combat-log-container p:last-child {
    color: #fff;
    font-weight: bold; }

.item-description-container {
  display: none;
  position: absolute;
  width: 230px;
  padding: 20px;
  color: #fff;
  font-size: 0.7em;
  background-color: #2B2B2B;
  border-radius: 3px;
  pointer-events: none;
  transform: translate3d(0, 0, 0); }
  .item-description-container dl {
    margin: 0; }
  .item-description-container div {
    display: block;
    line-height: 1.5em;
    margin-top: 1em; }
  .item-description-container div:first-child {
    margin-top: 0.2em; }
  .item-description-container #displayName {
    text-transform: capitalize; }
  .item-description-container #itemEffect {
    color: #24fb27; }

@keyframes load-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 10px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
