* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  font: 17px / 27px 'Source Code Pro';
  color: #192342; }
  body.white {
    background-color: #F5F6F7; }

::-webkit-scrollbar {
  display: none; }

.dark-text {
  color: #939DBD; }
  .dark-text p:before {
    color: rgba(255, 255, 255, 0.3); }

.light-text, body.white {
  color: #2B2B2B; }
  .light-text p:before, body.white p:before {
    color: rgba(10, 10, 20, 0.3); }

.italic {
  font-style: italic;
  color: #939DBD; }

.bold {
  font-weight: bold; }

ul,
dl {
  padding: 0;
  list-style: none; }

ul {
  margin-top: 1em; }

dl {
  margin-top: 0.5em; }

a {
  display: table;
  padding: 5px 20px;
  background-color: #F0F2FA;
  color: #192342;
  border-radius: 2px;
  border-collapse: collapse;
  cursor: pointer;
  animation: load-in 0.25s ease; }
  a:before, a:after {
    content: "B";
    opacity: 0; }
  a:hover {
    font-weight: bold; }
  a + a {
    margin-top: 10px; }

h1 {
  font-size: 3.33em;
  font-weight: normal;
  line-height: 1.2em; }

h2 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 50px; }

p {
  position: relative;
  animation: load-in 0.25s ease; }

label {
  display: block;
  font-size: 0.7em;
  opacity: 0.5;
  text-transform: uppercase; }

.clearfix:after, dl:after, .narrative-container:after {
  content: "";
  display: table;
  clear: both; }

.container {
  float: left;
  height: inherit;
  padding: 6em 4em 4em 4em;
  overflow: scroll; }

.header {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: calc(75% / 2 + 25%);
  padding: 0.5em 4em;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }

.stat-list {
  display: flex;
  flex-flow: row;
  font-size: 0.8em; }
  .stat-list li {
    display: flex;
    flex-flow: row; }
  .stat-list li + li {
    margin-left: 2em; }
  .stat-list label {
    font-size: inherit;
    text-transform: capitalize; }

.narrative-container {
  width: calc(75% / 2);
  padding-bottom: 8em; }
  .narrative-container p {
    margin-top: 3em; }

.inventory-container {
  position: relative;
  width: 25%;
  padding-bottom: 8em;
  background-color: #F0F2FA; }
  .inventory-container dl {
    width: 100%;
    line-height: 2em; }
    .inventory-container dl dt {
      float: left; }

.inventory-list {
  display: flex;
  flex-flow: column; }
  .inventory-list > * {
    order: 3; }
  .inventory-list li {
    display: table;
    padding-bottom: 1em;
    line-height: 1em;
    cursor: pointer;
    animation: load-in 0.25s ease; }
    .inventory-list li.equipped-wep {
      font-weight: bold;
      order: 1; }
    .inventory-list li.equipped-armor {
      font-weight: bold;
      order: 2; }
    .inventory-list li.none {
      color: #fff; }
    .inventory-list li.rare {
      color: #009bff; }

@keyframes equipWep {
  0% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(10px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
.combat-log-container {
  width: calc(75% / 2);
  background-color: #192342; }
  .combat-log-container.container {
    padding-top: 2em; }
  .combat-log-container p {
    font-size: 1em; }
    .combat-log-container p + p {
      margin-top: 1.5em; }

.item-description-container {
  display: none;
  position: absolute;
  z-index: 2;
  width: 230px;
  padding: 15px 20px;
  color: #fff;
  font-size: 0.8em;
  background-color: #192342;
  border-radius: 3px;
  pointer-events: none; }
  .item-description-container .flex-container {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    justify-content: center; }
    .item-description-container .flex-container * {
      margin-bottom: 10px;
      line-height: 1.5em; }
    .item-description-container .flex-container .name {
      order: 1; }
    .item-description-container .flex-container .armorAmt {
      order: 2; }
      .item-description-container .flex-container .armorAmt:before {
        content: "Armor: "; }
    .item-description-container .flex-container .slot {
      order: 3;
      text-transform: capitalize; }
      .item-description-container .flex-container .slot:before {
        content: "Slot: "; }
    .item-description-container .flex-container .rarity {
      display: none; }
    .item-description-container .flex-container .itemType {
      display: none; }
    .item-description-container .flex-container .damage {
      order: 2; }
      .item-description-container .flex-container .damage:before {
        content: "Damage: "; }
    .item-description-container .flex-container .level {
      order: 7;
      float: right;
      color: #939DBD; }
      .item-description-container .flex-container .level:before {
        content: "Level: "; }
    .item-description-container .flex-container .flavorText {
      order: 5;
      font-style: italic;
      color: #939DBD; }
    .item-description-container .flex-container .effect {
      order: 3;
      color: #24fb27; }
    .item-description-container .flex-container .getSalePrice,
    .item-description-container .flex-container .getPurchasePrice {
      order: 7;
      margin-bottom: 0; }
      .item-description-container .flex-container .getSalePrice:before,
      .item-description-container .flex-container .getPurchasePrice:before {
        display: inline-block;
        content: '';
        width: 8px;
        height: 8px;
        margin-right: 2px;
        border-radius: 50%;
        background-color: #E5CA48; }
    .item-description-container .flex-container .shop-item {
      order: 8;
      margin-top: 10px;
      margin-bottom: 0;
      color: #24fb27; }
    .item-description-container .flex-container .stat {
      margin-bottom: 0; }

.load-in {
  animation: load-in 0.25s ease; }

@keyframes load-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 10px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
