$deep-blue: #293B4E;
$rouge: #ffd0cb;
$charcoal: #2B2B2B;
$deeppurp: #192342;
$lightburp: #F0F2FA;
$babyblue: #cbf9ff;
$cobalt: #cbdcff;
$green: #24fb27;
$gray: #939DBD;
* {box-sizing: border-box;}

html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	font: 17px / 27px 'Source Code Pro';
	color: $deeppurp;
	// font-family: 'Source Code Pro', ;

	&.white {
		background-color: #F5F6F7;
		@extend .light-text;
	}
}

::-webkit-scrollbar {
    display: none;
}

.dark-text {
	color: $gray;
	p:before {
		color: rgba(255,255,255,.3);
	}
}

.light-text {
	color: #2B2B2B;

	p:before {
		color: rgba(10,10,20,.3);
	}
}

.italic {
	font-style: italic;
	color: $gray;
}

.bold {
	font-weight: bold;
}

ul,
dl {
	padding: 0;
	list-style: none;
}

ul {
	margin-top: 1em;
}

dl {
	margin-top: 0.5em;
	@extend .clearfix;
}

a {
	display: table;
	padding: 5px 20px;
	background-color: $lightburp;
	color: $deeppurp;
	border-radius: 2px;
	border-collapse: collapse;
	// color: inherit;
	cursor: pointer;
	animation: load-in 0.25s ease;

	&:before,
	&:after {
		content: "B";
		opacity: 0;
	}

	&:hover {
		font-weight: bold;
	}

	& + a {
		margin-top: 10px;
	}
}

h1 {
	font-size: 3.33em;
	font-weight: normal;
	line-height: 1.2em;
}

h2 {
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 50px;
}

p {
	position: relative;
	animation: load-in 0.25s ease;
}

label {
	display: block;
	font-size: 0.7em;
	opacity: 0.5;
	text-transform: uppercase;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
	float:left;
	height: inherit;
	padding: 6em 4em 4em 4em;
	overflow: scroll;
}

.header {
	position: absolute;
	z-index: 1;
	background-color: #fff;
	width: calc(75% / 2 + 25%);
	padding: 0.5em 4em;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
}

.stat-list {
	display: flex;
	flex-flow: row;
	font-size: 0.8em;

	li {
		display: flex;
		flex-flow: row;
	}

	li + li {
		margin-left: 2em;
	}

	label {
		font-size: inherit;
		text-transform: capitalize;
	}
}

.narrative-container {
	width: calc(75% / 2);
	padding-bottom: 8em;
	@extend .clearfix;

	p {
		margin-top: 3em;
	}

}

.inventory-container {
	position: relative;
	width: 25%;
	padding-bottom: 8em;
	background-color: $lightburp;

	dl {
		width: 100%;
		line-height: 2em;

		dt {
			float: left;
		}
	}
}

.inventory-list {
	display: flex;
	flex-flow: column;

	& > * {
		order: 3;
	}

	li {
		display: table;
		padding-bottom: 1em;
		line-height: 1em;
		cursor: pointer;
		animation: load-in 0.25s ease;

		&.equipped-wep {
			font-weight: bold;
			order: 1;
			// animation: equipWep 0.3s cubic-bezier(0, 1.8, 1, 1.8); ;
		}

		&.equipped-armor {
			font-weight: bold;
			order: 2;
		}

		// &:first-child {
		// 	&:after {
		// 		position: absolute;
		// 		content: "";
		// 		width: 20px;
		// 		height: 20px;
		// 		border-radius: 20px;
		// 		background-color: rgb(0,155,255);
		// 		box-shadow: 0 0 5px 0px rgb(0,155,255) inset;
		// 	}
		// }
		//
		// @keyframes pulse {
		// 	0% {
		// 		box-shadow: ;
		// 	}
		// }

		//In case I find some cool icons for equipping

		// &.equipped-wep::before {
		// 	content: "🔵";
		// 	margin-right: 5px;
		// 	font-size: 1em;
		// 	color: rgba(0,0,0,1);
		// }
		//
		// &.equipped-armor::before {
		// 	content: "🔵";
		// 	margin-right: 5px;
		// 	font-size: 1em;
		// 	color: rgba(0,0,0,1);
		// }

		&.none {
			color: #fff;
		}

		&.rare {
			color: rgb(0,155,255);
		}
	}
}

@keyframes equipWep {
	0% {
		transform: translate3d(0,0,0);
	}
	50% {
		transform: translate3d(10px,0,0);
	}
	100% {
		transform: translate3d(0,0,0);
	}
}

.combat-log-container {
	width: calc(75% / 2);
	background-color: $deeppurp;

	&.container {
		padding-top: 2em;
	}

	p {
		font-size: 1em;

		& + p {
			margin-top: 1.5em;
		}
	}

	p:last-child {
		// color: #fff;
		// font-weight: bold;
	}
}

.item-description-container {
	display: none;
	position: absolute;
	z-index: 2;
	width: 230px;
	padding: 15px 20px;
	color: #fff;
	font-size: 0.8em;
	background-color: $deeppurp;
	border-radius: 3px;
	pointer-events: none;

	.flex-container {
		display: flex;
		align-items: flex-start;
		flex-flow: column;
		justify-content: center;

		* {
			margin-bottom: 10px;
			line-height: 1.5em;
		}

		.name {
			order: 1;
		}

		.armorAmt {
			order: 2;
			&:before {
				content: "Armor: ";
			}
		}

		.slot {
			order: 3;
			text-transform: capitalize;
			&:before {
				content: "Slot: ";
			}
		}

		.rarity {
			display: none;
		}

		.itemType {
			display: none;
		}

		.damage {
			order: 2;
			&:before {
				content: "Damage: ";
			}
		}

		.level {
			order: 7;
			float: right;
			color: $gray;

			&:before {
				content: "Level: ";
			}
		}

		.flavorText {
			order: 5;
			font-style: italic;
			color: $gray;
		}

		.effect {
			order: 3;
			color: $green;
		}

		.getSalePrice,
		.getPurchasePrice {
			order: 7;
			margin-bottom: 0;

			&:before {
				display: inline-block;
				content: '';
				width: 8px;
				height: 8px;
				margin-right: 2px;
				border-radius: 50%;
				background-color: #E5CA48;
			}
		}

		.shop-item {
			order: 8;
			margin-top: 10px;
			margin-bottom: 0;
			color: $green;
		}

		.stat {
			margin-bottom: 0;
		}
	}
}

.load-in {
	animation: load-in 0.25s ease;
}

@keyframes load-in {
	0% {
		opacity: 0;
		transform: translate3d(0,10px,0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}
